.pictures {
  height: 100%;
  background-color: #fafafa;
  header {
    height: 77px;
    background-color: #fff;
    border-bottom: solid 1px #e6e6e6;
    position : fixed;
    top : 0;
    z-index : 10;
    width: 100%
  }
  .index-apl_name {
    line-height: 77px;
    font-family: 'cursive';
    color: #262626;
    margin-top: 0px;
    margin-left: 5px;
  }
  .index-user_link {
    line-height: 77px;
    color: #262626;
    font-weight: bold;
    font-size: 14px;
  }
  .index-user_link a {
    color: #262626;
    text-decoration: none;
  }
}
